/* Basic page setup for spacing */
* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}




/* TOP LEVEL GRID */
.page_grid {
    margin: 1ch;
    display: grid;
    grid-template-columns: 20vw 78vw;
    grid-template-rows: 7vh 87vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "title title"
    "sidebar content";
}




/* TOP LEVEL GRID ELEMENTS */
.title {
    grid-area: title;
    background-color: #4b9fff;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
    "title_title start_game"
    "title_subtext start_game";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 71vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "players"
    "chat";
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 18vw 15vw 25vw 20vw;
    grid-template-rows: 27vh 27vh 35vh;
    grid-template-areas:
    "scores play_surface play_surface play_surface"
    "scores play_surface play_surface play_surface"
    "player_cards player_cards player_cards player_cards";

    background-color: #e3e3e3;
}




/* SECOND LEVEL (TITLE) GRID ELEMENTS */
.title_title {
    padding: 0.1vw;
    grid-area: title_title;
    font-size: 1.4vw;
}

.title_subtext {
    padding: 0.1vw;
    grid-area: title_subtext;
    font-size: 0.8vw;
}

.start_game {
    justify-self: right;
    align-self: center;

    padding-right: 1vw;
    grid-area: start_game;
}

.start_game_btn {
    width: 6vw;
    height: 3vh;
    font-size: 0.8vw;
}




/* SECOND LEVEL (SIDEBAR) GRID ELEMENTS*/
.chat {
    grid-area: chat;
    background-color: #4b9fff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2vh 63vh 3vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "chat_title"
    "player_chat"
    "input_chat";
}

.players {
    grid-area: players;
    background-color: #4b9fff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2vh 11vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "player_title"
    "player_list";
}




/* SECOND LEVEL (CONTENT) GRID ELEMENTS */
.scores {
    grid-area: scores;
    padding: 1ch;
    align-self: start;
    justify-self: start;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1ch;
    grid-template-areas:
    "scores_title"
    "scores_table";
}

.player_cards {
    padding: 1ch;
    grid-area: player_cards;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2vh 28vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "player_card_title"
    "player_card_objs";
}

.play_surface {
    grid-area: play_surface;
    padding-top: 1ch;

    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 25vh 25vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "play_info play_action play_action"
    "play_info played_cards played_cards";
}



/* THIRD LEVEL (CONTENT/PLAY_SURFACE) GRID ELEMENTS */
.play_info {
    padding-top: 1ch;
    grid-area: play_info;
    align-self: start;
    justify-self: start;

    display: grid;
    grid-template-columns: 18vw;
    grid-row-gap: 1ch;
    grid-template-areas:
    "play_info_title"
    "bet_table"
    "round_num"
    "round_trump"
    "round_order";
}

.play_action {
    padding: 1ch;
    grid-area: play_action;
    background: lightskyblue;
    border: black;
    border-style: groove;
    height: 15vh;
    width: 35vw;
    align-self: start;
    justify-self: start;
}

.play_action_txt {
    align-self: center;
    text-align: center;
    font-size: 2vw;
}

.played_cards {
    grid-area: played_cards;

    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 2vh 24vh 1vh;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "played_card_title"
    "played_card_obj"
    "played_cards_player";

}

.played_card_obj {
    grid-area: played_card_obj;
}

.played_cards_player {
    grid-area: played_cards_player;
}

.played_card_title {
    grid-area: played_card_title;
    font-size: 1.1vw;
}

/* THIRD LEVEL (CONTENT/SCORES) GRID ELEMENTS */
.scores_title {
    grid-area: scores_title;
    font-size: 1.3vw;
}

.scores_table {
    grid-area: scores_table;
    align-self: start;
    justify-self: start;

}

table.scores_table, table.scores_table th, table.scores_table td {
    border: 1px solid black;
    text-align: center;
    font-size: 1.65vh;
}

table.scores_table {
    height: 20vh;
    width: 15vw;
}




/* THIRD LEVEL (CONTENT/PLAYER_CARDS) GRID ELEMENTS */
.player_card_title {
    grid-area: player_card_title;
    align-self: end;
    justify-self: end;
}

.player_card_objs {
    grid-area: player_card_objs;
    align-self: end;
    justify-self: end;
}

img {
    max-width: 80%;
    max-height: 80%;
}




/* THIRD LEVEL (SIDEBAR/CHAT) GRID ELEMENTS */
.chat_title {
    padding: 0.5vh 0.5vh 1vh;
    font-size: 1.3vw;
}

.player_chat {
    padding: 0.5vh;
    font-size: 0.85vw;
    grid-area: player_chat;
    overflow-y: auto;
}

.input_chat {
    padding: 0.5vh;
    grid-area: input_chat;
}

.chat_text_box {
    width: 15vw;
    height: 2vh;
}

.chat_button {
    width: 3.5vw;
    height: 2.2vh;
}




/* THIRD LEVEL (SIDEBAR/PLAYERS) GRID ELEMENTS */
.player_title {
    padding-top: 0.1vh;
    padding-left: 0.1vw;
    font-size: 1.3vw;
    grid-area: player_title;
}

.player_list {
    padding-top: 0.5vh;
    padding-left: 0.1vw;
    font-size: 1vw;
    list-style-type: none;
    overflow-y: auto;
    grid-area: player_list;
}



/* FOURTH LEVEL (CONTENT/PLAY_SURFACE/PLAY_INFO) GRID ELEMENTS */
.play_info_title {
    grid-area: play_info_title;
    align-self: start;
    justify-self: start;
}

.bet_table {
    grid-area: bet_table;
    align-self: start;
    justify-self: start;
}

table.bet_table, table.bet_table td, table.bet_table th {
    border: 1px solid black;
    text-align: center;
}

table.bet_table td, table.bet_table th {
    padding: 3px;
}

.round_num {
    grid-area: round_num;
}

.round_trump {
    grid-area: round_trump;
}

.round_order {
    grid-area: round_order;
}