/* Basic page setup for spacing */
* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}




/* TOP LEVEL GRID */
.page_grid {
    margin: 1ch;
    width: 98vw;
    height: 95vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 8% 90%;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "title title"
    "sidebar content";
}




/* TOP LEVEL GRID ELEMENTS */
.title {
    grid-area: title;
    background-color: #4b9fff;

    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-areas:
    "title_title start_game"
    "title_subtext start_game";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 83.8%;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "players"
    "chat";
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
    "scores play_surface play_surface play_surface"
    "scores play_surface play_surface play_surface"
    "player_cards player_cards player_cards player_cards";

    background-color: #e3e3e3;
}




/* SECOND LEVEL (TITLE) GRID ELEMENTS */
.title_title {
    padding: 5px;
    grid-area: title_title;
}

.title_subtext {
    padding: 5px;
    grid-area: title_subtext;
}

.start_game {
    justify-self: right;
    align-self: center;
    padding-right: 20px;
    grid-area: start_game;
}

.start_game_btn {
    width: 100%;
    height: 80%;
    min-height: 35px;
    min-width: 110px;
}




/* SECOND LEVEL (SIDEBAR) GRID ELEMENTS*/
.chat {
    grid-area: chat;
    background-color: #4b9fff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 84% 1fr;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "chat_title"
    "player_chat"
    "input_chat";
}

.players {
    grid-area: players;
    background-color: #4b9fff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 65%;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "player_title"
    "player_list";
}




/* SECOND LEVEL (CONTENT) GRID ELEMENTS */
.scores {
    grid-area: scores;
    padding: 10px;
    align-self: start;
    justify-self: start;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-template-areas:
    "scores_title"
    "scores_table";
}

.player_cards {
    padding: 5px;
    grid-area: player_cards;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 85%;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "player_card_title"
    "player_card_objs";
}

.play_surface {
    grid-area: play_surface;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-areas:
    "play_info play_action"
    "play_info played_cards";
}



/* THIRD LEVEL (CONTENT/PLAY_SURFACE) GRID ELEMENTS */
.play_info {
    padding-top: 10px;
    grid-area: play_info;
    align-self: start;
    justify-self: start;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-template-areas:
    "play_info_title"
    "bet_table"
    "round_num"
    "round_trump"
    "round_order";
}

.play_action {
    grid-area: play_action;
}

.play_action_txt {
    padding: 20px;
    align-self: center;
    justify-self: start;
}

.played_cards {
    grid-area: played_card;
    align-self: end;
    justify-self: end;
}



/* THIRD LEVEL (CONTENT/SCORES) GRID ELEMENTS */
.scores_title {
    grid-area: scores_title;
}

.scores_table {
    grid-area: scores_table;
    align-self: start;
    justify-self: start;

}

table.scores_table, table.scores_table th, table.scores_table td {
    border: 1px solid black;
    text-align: center;
    font-size: 1.4vh;
}

table.scores_table th, table.scores_table td {
    padding: 2px;
}




/* THIRD LEVEL (CONTENT/PLAYER_CARDS) GRID ELEMENTS */
.player_card_title {
    grid-area: player_card_title;
    align-self: end;
    justify-self: end;
}

.player_card_objs {
    grid-area: player_card_objs;
    align-self: end;
    justify-self: end;
}

img {
    max-width: 100%;
    max-height: 100%;
}




/* THIRD LEVEL (SIDEBAR/CHAT) GRID ELEMENTS */
.chat_title {
    padding: 5px;
}

.player_chat {
    padding: 5px;
    grid-area: player_chat;
    overflow-y: auto;
}

.input_chat {
    padding: 5px;
    grid-area: input_chat;
}




/* THIRD LEVEL (SIDEBAR/PLAYERS) GRID ELEMENTS */
.player_title {
    padding: 5px;
    grid-area: player_title;
}

.player_list {
    padding: 5px;
    list-style-type: none;
    overflow-y: auto;
    grid-area: player_list;
}



/* FOURTH LEVEL (CONTENT/PLAY_SURFACE/PLAY_INFO) GRID ELEMENTS */
.play_info_title {
    grid-area: play_info_title;
    align-self: start;
    justify-self: start;
}

.bet_table {
    grid-area: bet_table;
    align-self: start;
    justify-self: start;
}

table.bet_table, table.bet_table td, table.bet_table th {
    border: 1px solid black;
    text-align: center;
}

table.bet_table td, table.bet_table th {
    padding: 3px;
}

.round_num {
    grid-area: round_num;
}

.round_trump {
    grid-area: round_trump;
}

.round_order {
    grid-area: round_order;
}