<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        {# EXTERNAL JAVASCRIPT - Contains Event Code#}
        <script type="text/javascript" src="./static/js/events.js"></script>

        <title>Calithumpian Client</title>
    </head>

    <body>
        <div class="page_grid">

            <div class="title">
                <h1 class="title_title">Calithumpian: The game based on screwing people over!</h1>
                <p class="title_subtext">Version 1.0.0 - Matt Mulligan 2020</p>
                <div class="start_game">
                    <button class="start_game_btn" type="button" onclick="event_start_game();">START GAME!</button>
                </div>
            </div>

            <div class="sidebar">

                <div class="players">
                    <h2 class="player_title">Players:</h2>
                    <ul class="player_list" id="player_list"></ul>
                </div>

                <div class="chat">
                    <h2 class="chat_title">Chat:</h2>
                    <div class="player_chat" id="player_chat"></div>

                    <div class="input_chat">
                        <h3>Send:</h3>
                        <input type="text" id="send_chat" placeholder="Message"/>
                        <button type="button" onclick="event_client_chat();">Send Message</button>
                    </div>
                </div>

            </div>

            <div class="content">

                <div class="scores">

                    <h3 class="scores_title">Scores:</h3>
                    <table class="scores_table" id="score_table">
                        <tr><th>Round</th></tr>
                        <tr><td>2</td></tr>
                        <tr><td>3</td></tr>
                        <tr><td>4</td></tr>
                        <tr><td>5</td></tr>
                        <tr><td>6</td></tr>
                        <tr><td>7</td></tr>
                        <tr><td>8</td></tr>
                        <tr><td>9</td></tr>
                        <tr><td>10</td></tr>
                        <tr><td>10</td></tr>
                        <tr><td>9</td></tr>
                        <tr><td>8</td></tr>
                        <tr><td>7</td></tr>
                        <tr><td>6</td></tr>
                        <tr><td>5</td></tr>
                        <tr><td>4</td></tr>
                        <tr><td>3</td></tr>
                        <tr><td>2</td></tr>
                        <tr><td>TOTAL</td></tr>
                    </table>
                </div>

                <div class="player_cards">
                    <h3 id="card_title">Your Cards:</h3>
                    <div id="player_card_objs"></div>
                </div>

                <div class="play_surface">

                    <div class="play_info">
                        <h3 class="play_info_title">Round Info:</h3>
                        <table class="bet_table" id="bet_table">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Round Bets</th>
                                    <th>Tricks Won</th>
                                </tr>
                            </thead>
                            <tbody id="bet_table_body"></tbody>

                        </table>
                        <ul class="round_num" id="round_num" style="list-style-type: none"></ul>
                        <ul class="round_trump" id="round_trump" style="list-style-type: none"></ul>
                        <ul class="round_order" id="round_order" style="list-style-type: none"></ul>
                    </div>

                    <div class="play_action">
                        <ul class="play_action_txt" id="play_action_txt" style="list-style-type: none"></ul>
                    </div>

                    <div class="played_cards">
                        <div id="played_card_obj" class="played_card_obj"></div>
                        <div id="played_cards_player" class="played_cards_player"></div>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>