<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        {# EXTERNAL JAVASCRIPT - cannot access id's properly from external js file... #}
{#        <script type="text/javascript" src="../static/js/client-events.js"></script>#}

        {# INTERNAL JAVASCRIPT #}
        <script type="text/javascript" charset="utf-8">


            // SOCKET - Setup socket object
            var socket = io.connect('http://' + document.domain + ':' + location.port );


            // INCOMING EVENT - UPDATE_ELEMENT - handles updating html elements
            socket.on('update_element', function(data) {

                if (data.target_type === "div") {
                    $('#' + data.target).append(data.message);

                } else if (data.target_type === "list") {
                    if (data.action === "overwrite") {
                        $('#' + data.target).empty();
                        $.each(data.message, function( key, value ) {
                            $('#' + data.target).append('<li>' + value + '</li>');
                        });
                    }
                }
            });


            // INCOMING EVENT - IDENTIFY - Used to identify the player and set their username
            socket.on('identify', function(data) {

                $('#player_chat').append(data.message);

                if (data.action === "identify_client") {
                    var playerName = prompt("Please enter your name", "Harry Potter");
                    socket.emit("client_identify", {"player_name": playerName})
                } else if (data.action === "identify_duplicate") {
                    var playerName = prompt("Player name already in use, Please enter your name:", "Harry Potter");
                    socket.emit("client_identify", {"player_name": playerName})
                }
            });

            // INCOMING EVENT - MOVE_TO_GAME - Used to identify the player and set their username
            socket.on('move_to_game', function(data) {

                $('#player_chat').append(data.message);

                if (data.action === "identify_client") {
                    var playerName = prompt("Please enter your name", "Harry Potter");
                    socket.emit("client_identify", {"player_name": playerName})
                } else if (data.action === "identify_duplicate") {
                    var playerName = prompt("Player name already in use, Please enter your name:", "Harry Potter");
                    socket.emit("client_identify", {"player_name": playerName})
                }
            });

            // OUTGOING EVENT - PLAYER_CHAT_BUTTON_CLICK - used for players to post in the chat
            function event_client_chat() {
                let msg_text = document.getElementById('send_chat').value;
                socket.emit("client_chat", {"message": msg_text});
            }

            // OUTGOING EVENT - START_GAME - a layer starting the game
            function event_start_game() {
                socket.emit("client_start_game", {});
            }


        </script>


        <meta charset="utf-8">
        <title>Calithumpian Lobby</title>
    </head>
    <body>
        <h1>Calithumpian Game Lobby</h1>
        <p>When everyone is in the lobby, please press the start game button</p>
        <br>

        <div>
            <h2>START THE GAME!</h2>
            <button type="button" onclick="event_start_game();">START GAME!</button>
        </div>

        <div>
            <h3>Player Chat:</h3>
            <div id="player_chat"></div>
        </div>
        <br>

        <div>
            <h3>Player List</h3>
            <ul id="player_list"></ul>
        </div>
        <br>

        <div>
            <h3>Send:</h3>
            <input type="text" id="send_chat" placeholder="Message"/>
            <button type="button" onclick="event_client_chat();">Send Message</button>
        </div>

    </body>
</html>